@using ASP.NETCoreIdentityCustom.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@model ASP.NETCoreIdentityCustom.Models.DocumentEntity

@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<a asp-action="Index" class="btn btn-outline-danger">Back to List</a>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentName)
        </dd>
        <dt class = "col-sm-2">
            
            @Html.DisplayNameFor(model => model.DocumentCreaterName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentCreaterName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discription)
        </dd>
        <dt class ="col-sm-2">
            @Html.DisplayNameFor(model=>model.DocumentCreatedDate)
        </dt>
        
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentCreatedDate)
        </dd>
        <hr />
                <dd class="col-sm-10">
                    @if(Model.Image1Path!=null)
                    {
                        <img src="@("~/image/"+Model.Image1Path)" asp-append-version="true" width="250px" height="250px" /> 
                    }
                    @if(Model.Image2Path!=null)
                    {
                        <img src="@("~/image/"+Model.Image2Path)" asp-append-version="true" width="250px" height="250px" /> 
                    }
                    @if(Model.Image3Path!=null)
                    {
                        <img src="@("~/image/"+Model.Image3Path)" asp-append-version="true" width="250px" height="250px" /> 
                    }
                    @if(Model.Image4Path!=null)
                    {
                        <img src="@("~/image/"+Model.Image4Path)" asp-append-version="true" width="250px" height="250px" /> 
                    }
                    <hr />
                    @if(Model.Image5Path!=null)
                    {
                        <img src="@("~/image/"+Model.Image5Path)" asp-append-version="true" width="250px" height="250px" /> 
                    }
                </dd>
    </dl>
</div>
<div>
    <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@Model?.DocumentId">Delete</a> 
</div>
