@using ASP.NETCoreIdentityCustom.Areas.Identity.Data
@using Microsoft.AspNet.Identity
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@model IEnumerable<ASP.NETCoreIdentityCustom.Models.DocumentEntity>

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        <strong> Success !</strong> @TempData["AlertMessage"]
    </div>
}
@if (TempData["Message"] != null)
{
    <div class="alert alert-danger">
        <strong> Error !</strong> @TempData["Message"] <strong> Error !</strong>
    </div>
}

@{
    ViewData["Title"] = "Index";
}

<h1 align="center"> Your Created Documents Are here</h1>
<hr />
    <a asp-controller="Document" asp-action="Create" class="btn btn-outline-danger">Back</a>  | 
    <a asp-action="Create" class="btn btn-outline-success">Create New</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentCreaterName)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            @if (item.UserId == User.Identity.GetUserId())
            {
                <tr class="table-primary">
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DocumentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DocumentCreaterName)
                    </td>
                    <td>
                        | <a asp-action="Edit" class="btn btn-outline-primary"asp-route-id="@item.DocumentId">Edit</a> 
                        | <a asp-action="Details" class="btn btn-outline-success" asp-route-id="@item.DocumentId">Details</a> 
                        | <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.DocumentId">Delete</a> |
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
